/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--c-background);
}

/* css variables */
:root {
    /* colors */
    --c-background: #121212;
    --c-surface: #181818;
    --c-dark: #1f1f1f;
    --c-accent: #1ed760;
    --c-heading: #ffffff;
    --c-text: #b3b3b3;
    --c-caption: #539df5;
    /* fonts */
    --ff-heading: "Montserrat", sans-serif;
    --ff-text: "Poppins", sans-serif;
    /* sizing */
    --sz-heading: 1.5rem;
    --sz-text: 1rem;
    --sz-text-sm: 0.75rem;
    --sz-caption: 0.875rem;
    /* gaps */
    --g-sm: 4px;
    --g-lh: 8px;
    --g-md: 12px;
    --g-lg: 16px;
    /* radius */
    --br-sm: 4px;
    --br-md: 8px;
    --br-lg: 16px
}

/* profile */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 40px 0; */
    width: 100%;
    min-height: 100vh;
}

/* two column layout */
.two-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--g-lg);
    align-items: stretch;
    min-height: 100vh;
}

.left-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.left-layout,
.right-layout {
    padding: 40px 0;
}

.l-content {
    display: flex;
    flex-direction: column;
    gap: var(--g-md);
}

.c-caption {
    font-family: var(--ff-text);
    font-size: var(--sz-text-sm);
    font-weight: 500;
    color: var(--c-caption);
}

.c-name {
    font-family: var(--ff-heading);
    font-size: var(--sz-heading);
    font-weight: bold;
    color: var(--c-heading);
}

.c-text {
    font-family: var(--ff-text);
    font-size: var(--sz-text);
    font-weight: 400;
    color: var(--c-text);
}

.l-socials {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: var(--g-md);
}

.l-socials p {
    font-family: var(--ff-text);
    font-size: var(--sz-text);
    font-weight: 400;
    color: var(--c-text);
    cursor: pointer;
    transition: all .5s ease;
}

.l-socials p:hover {
    transform: translateX(4px);
    color: var(--c-caption);
}